@import url('../../variables.css');

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: block;
    z-index: 100;
    width: 40px;
    padding-left: 20px;
    box-sizing: border-box;
    margin: auto; /* auto-center if necessary*/
}

.spinner.absolute {
    position: fixed;
}

.spinner.absolute .spinner-content {
    position: fixed;
    top: 120px;
    left: 50%;
}

.spinner span {
    display: none;
}

.spinner.absolute.active {
    display: block;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.spinner .spinner-content {
    width: 0;
    height: 0;
    margin-left: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    border: 0px solid currentColor;
    border-right-color: transparent;
    transition:  0.5s ease-in-out;
}

.spinner.active .spinner-content {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -20px;
    border-width: 5px;
    animation: spin 1s infinite linear;
}
