@import url('../../variables.css');

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: block;
    z-index: 100;
    box-sizing: border-box;
    margin: auto; /* auto-center if necessary*/
    overflow: hidden;
    position:relative;
}
.spinner:not(.active){
    display:none;
}
.spinner.absolute {
    position: fixed;
}

.spinner.absolute .spinner-content {
    position: fixed;
    top: 120px;
    left: 50%;
}

.spinner .progress-report {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
}

.spinner.absolute.active {
    display: block;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.spinner .spinner-content {
    width: 0;
    height: 0;
    margin-left: 0px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 0px solid currentColor;
    border-right-color: transparent;
    transition:  0.3s ease-in-out;
}

.spinner.active .spinner-content {
    border-width: 5px;
    animation: spin 1s infinite linear;
}
