@import "../../_variables";

.card {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0px;
    overflow: hidden;
    user-select: none;
    border-radius: 4px;
    margin:1px;
    white-space: nowrap;
    background-color: $dark;
    background-size: 100%;
}

.card-top {
    display: flex;
    z-index: 1;
}

.card-content{
    flex-grow: 1;
    position: relative;
}

.card .card-content {
    z-index: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

.card .card-bottom {
    color: white;
    margin: 0;
    height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
}