@import "../../variables";

.playlist-container {
    position: relative;
    display: flex;
    padding: 8px;
    justify-self: stretch;
}
.playlist-container.drag{
    opacity:0.5;
}
.playlist-container.drag::after{
    content:"Drop files here";
    color: white;
    background: rgba(0,0,0, 0.3);
    opacity: 1;
    font-size: 2rem;
    display:block;
    width:100%;
    height:100%;
    min-height: 200px;
    padding-top: 100px;
    position: absolute;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    border: 3px dashed var(--theme-primary);
}

.playlist-container .playlist-content {
    display: flex;
    flex-wrap: wrap;
    flex-grow:1;
}

.playlist-container.disconnected .playlist-content{
    pointer-events: none;
    opacity:0.4;
}
.playlist-container .playlist-drawer{
    position: sticky;
    right:0;
    top: 8px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    align-self: flex-start;
}

.playlist-container .playlist-drawer a{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid currentColor;
    background: white;
    color: theme-color("primary");
    margin-bottom: 2px;
}

.playlist-container svg path:not([fill]){
    fill: currentColor;
}
.playlist-container .playlist-drawer a:hover {
    color: theme-color-level("primary", -5);
}
.playlist-container .playlist-drawer input{
    position:absolute;

}
.playlist-container .folded-drawer-item{
    display:flex;
    position: relative;
    width:34px;
    flex-direction: column-reverse;
}

.playlist-container .folded-drawer-item:not(.active) .fold.d-unfolded{
    display: none;
}

.playlist-container .folded-drawer-item.active .fold.d-folded {
    display: none;
}